<%- include('partials/_header') %>


<div class="container-fluid" style="max-width: 80%; ">


    <div class="row mt-5">
        <button class="btn btn-secondary" style = "font-size: 1.5em;">Historial</button>
        <div class="col col-12 col-lg-6">
            <button class="btn btn-success" style = "font-size: 1.5em;">Ventas</button>

            <div class="table-responsive">

                <table class="table" id = "tableHistorial">
                    <thead>
                        <th></th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Cliente</th>
                        <th>Valor</th>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < sales.length; i++){ %>
                            <tr>
                                <td> <button class = "btn btn-warning"  data-toggle="collapse" data-target="#idDetalleVenta<%=sales[i].ven_id%>" aria-expanded="true" aria-controls="idDetalleVenta<%=sales[i].ven_id%>" onclick="alert(formato_moneda('<%= sales[i].costo %>'));"> Detalles</button></td>
                                <td id = "fecha_venta_<%= sales[i].ven_id %>"><%= sales[i].ven_fecha %> </td>
                                <td><%= sales[i].Cajero %> </td>
                                <td><%= sales[i].Cliente %></td>
                                <td id = "costo_venta_<%= sales[i].ven_id%>">
                                    <!-- <%= sales[i].costo %> -->
                                    <script> 
                                        var date = document.getElementById('fecha_venta_<%= sales[i].ven_id %>');
                                        date.innerHTML = new Date('<%= sales[i].ven_fecha %>').toLocaleDateString();
                                        var x = document.getElementById('costo_venta_<%= sales[i].ven_id%>'); 
                                        x.innerHTML = nf.format('<%= sales[i].costo%>');
                                    </script>
                                </td>
                            </tr>

                            <tr class = "collapse" id  = "idDetalleVenta<%=sales[i].ven_id%>">
                                
                                <td></td>
                                <td colspan = "4">
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <th colspan = "2">Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                        </thead>
                                        <tbody>
                                            <% for(var j = 0; j < detailSales.length; j++){ %>
                                                <tr>
                                                    <% if(detailSales[j].VentaNo == sales[i].ven_id){ %>    
                                                        <td colspan = "2"><%= detailSales[j].pro_nombre %></td>
                                                        <td ><%= detailSales[j].det_ven_cantidad %> Unidades</td>
                                                        <td id = "precio_detalle_venta_<%=detailSales[j].det_ven_id %>"><</td>
                                                        <script>
                                                            var x = document.getElementById('precio_detalle_venta_<%=detailSales[j].det_ven_id %>');
                                                            x.innerHTML = nf.format('<%= detailSales[j].costo %>')
                                                        </script>
                                                    <% } %> 
                    
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
    
                        <% } %>
        
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col col-12 col-lg-6">
            <button class="btn btn-warning" style = "font-size: 1.5em;">Compras</button>
            <div class="table-responsive">
                <table class="table table-hover" id = "tableHistorial">
                    <thead>
                        <th></th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Proveedor</th>
                        <th>Valor</th>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < purchases.length; i++){ %>
                            <tr>
                                <td> <button class = "btn btn-warning" data-toggle="collapse" data-target="#idDetalleCompra<%=purchases[i].com_id%>" aria-expanded="true" aria-controls="idDetalleCompra<%=purchases[i].com_id%>" onclick="alert(formato_moneda('<%= purchases[i].costo %>'));"> Detalles</button></td>
                                <td id = "fecha_compra_<%= purchases[i].com_id %>"><%= purchases[i].com_fecha %> </td>
                                <td><%= purchases[i].Remitente %> </td>
                                <td><%= purchases[i].Proveedor%></td>
                                <td id = "costo_compra_<%= purchases[i].com_id%>">
                                    <script> 
                                        var date = document.getElementById('fecha_compra_<%= purchases[i].com_id %>');
                                        date.innerHTML = new Date('<%= purchases[i].com_fecha %>').toLocaleDateString();
                                        var x = document.getElementById('costo_compra_<%= purchases[i].com_id%>'); 
                                        x.innerHTML = nf.format('<%= purchases[i].costo%>');
                                    </script>
                                </td>
                            </tr>
                            <tr class = "collapse" id  = "idDetalleCompra<%=purchases[i].com_id%>">
                                <td></td>
                                <td colspan = "4">
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <th colspan = "2">Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                        </thead>
                                        <tbody>
                                            <% for(var j = 0; j < detailPurchases.length; j++){ %>
                                                <tr>
                                                    <% if(detailPurchases[j].compraNo == purchases[i].com_id){ %>    
                                                        <td colspan = "2"><%= detailPurchases[j].pro_nombre %></td>
                                                        <td ><%= detailPurchases[j].det_com_cantidad %> Unidades</td>
                                                        <td id = "precio_detalle_compra_<%=detailPurchases[j].det_com_id %>"><</td>
                                                        <script>
                                                            var x = document.getElementById('precio_detalle_compra_<%=detailPurchases[j].det_com_id %>');
                                                            x.innerHTML = nf.format('<%= detailPurchases[j].costo %>')
                                                        </script>
                                                    <% } %> 
                    
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
    
                            
    
                        <% } %>
        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
</script>
<% include ('partials/_footer') %>