<%- include('partials/_header') %>
<div class="container-fluid" style="max-width: 80%; ">

    <div class="row mt-5">

        <div class="col col-lg-8">
            <h1 style = "padding: 2em; height: 120px;">Productos</h1>
            <!-- <div class="table-responsive"> -->
                <table class="table table-hover" id="tablaProductos">
                    <thead class = "table-secondary" style = "text-align: center">
                        <tr>
                            <th>N°</th>
                            <th>Nombre</th>
                            <th>Presentacion</th>
                            <th>Precio Venta</th>
                            <th>Precio Compra</th>
                            <th>Categoria</th>
                            <th>Cantidad</th>
                            <th>Prescripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data.length > 0){ %>
                            <% for(var i = 0; i < data.length; i++){ %>
                            
                                <tr>                                
                                    <td>
                                        <button onclick = "
                                            getElementById('idEditIdProducto1').value = '<%= data[i].pro_id %>'; 
                                            getElementById('idEditIdProducto2').value = '<%= data[i].pro_id %>'; 
                                            getElementById('idEditNombreProducto').value = '<%= data[i].pro_nombre %>'; 
                                            getElementById('idEditPrecioVentaProducto').value = '<%= data[i].pro_precio_venta %>' ;
                                            getElementById('idEditPresentacionProducto').value = '<%= data[i].pro_presentacion %>' ;
                                            getElementById('idEditPrecioCompraProducto').value = '<%= data[i].pro_precio_compra %>'; 
                                            getElementById('idEditCategoriaProducto').innerHTML = '<%= data[i].cat_nombre %>';
                                            getElementById('idEditCategoriaProducto').value = '<%= data[i].pro_categoria %>';
                                            // <% var catSelect = data[i].cat_nombre %> 
                                            getElementById('idEditPrescripcionProducto').checked = <% if(data[i].pro_prescripcion){ %>true<%}else{%>false<%}%>; 
                                            " class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseEditarProducto" aria-expanded="true" aria-controls="collapseEditarProducto">
                                            Editar
                                        </button>
                                    <!--<%= data[i].pro_id %> -->
                                    </td>
                                    <td><%= data[i].pro_nombre %></td>
                                    <td><%= data[i].pro_presentacion %></td>
                                    <td><%= data[i].pro_precio_venta %></td>
                                    <td><%= data[i].pro_precio_compra %></td>
                                    <td><%= data[i].cat_nombre %></td>
                                    <td><%= data[i].pro_cantidad %></td>
                                    <td><% if(data[i].pro_prescripcion) {%>
                                        <%= "Sí " %>
                                        <%} else { %>
                                        <%= "No" %>
                                        <%} %>
                                    <!-- </td> -->
                                </tr>
                            <% } %>
                        <% } else {%>
                            <tr>
                                <td colspan = "8" style="text-align: center;">
                                    <h3>No se encontraron registros</h3>
                                </td>
                            </tr>
                        <% } %> 
                    </tbody>
    
                </table>
            <!-- </div> -->
        </div>
        <aside clss = "col col-lg-3" style="margin-right: 1%;">
            <div class="text-white card bg-info ">
                <button class="btn btn-info " type="button" style = "padding: 1.5em" data-toggle="collapse" data-target="#collapseFormulario1" aria-expanded="false" aria-controls="collapseFormulario1">
                    <h2>Ingresar Producto</h2>
                </button>
                <!-- <div class="collapse" id="collapseExample"> -->
                <div class="collapse" id="collapseFormulario1">
                    
                    <div class="card-body">
                        <form action="/add" method="post" id = "prodForm">
                            <div class="form-group">
                                <input type="text" class = "form-control" name = "pro_nombre" placeholder="Nombre">
                            </div>
                            <div class="form-group ">
                                <input type="text" class = "form-control" name = "pro_presentacion" placeholder="Presentación">
                            </div>                           
                            <div class="form-group ">
                                <input type="number" min = "0" class = "form-control" name = "pro_precio_venta" placeholder="Precio Venta" >
                            </div>
                            <div class="form-group" >
                                <input type="number" min = "0" class = "form-control" name = "pro_precio_compra" placeholder="Precio Compra" >
                            </div>
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <label for="pro_categoria" class = "input-group-text">Categoría</label>                         
                                </div>
                                <select name="pro_categoria" class = "custom-select">
                                    <option value="null" selected disabled>Seleccione...</option>
                                    <!-- <option value="1">Medicamento</option>
                                    <option value="2">Populares</option>
                                    <option value="3">Hospitalarios</option>
                                    <option value="4">Droga blanca</option>
                                    <option value="5">Naturista</option>
                                    <option value="6">Antigripales</option> -->
                                    <% for(var j = 0; j < categorias.length; j++){ %>   
                                        <% if(categorias[j].cat_nombre == catSelect) continue %>                                 
                                        <option value="<%= categorias[j].cat_id%>"><%= categorias[j].cat_nombre%></option>
                                    <% } %>
                                </select>   
                                <!-- <input type="text" class = "form-control" name = "pro_categoria" placeholder="Categoria" > -->
                            </div>
                            <!-- <div class="from-group mt-2">
                                <input type="text" class = "form-control" name = "pro_cantidad" placeholder="Cantidad" >
                            </div> -->
                            <!-- <div class="form-group"> -->
                            <div class="input-group my-3">  
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type = "checkbox" class = "checkbox input-group-prepend" value = "false" name = "pro_prescripcion" id = "pro_prescripcion" non-checked>
                                    </div>
                                </div> 
                                <div class="form-control">
                                        
                                    <label for = "pro_prescripcion">
                                        Prescripción
                                    </label>
                                </div>                                  
                            </div> 
                            <!-- </div> -->
                            <button class="btn btn-primary mt-4">Ingresar</button>
                        </form>
                        
                    </div>
                </div>     
            </div>
            <div class="text-white card bg-info ">
                <button class="btn btn-info" type="button" style = "padding: 1.5em">
                    <h2>Editar producto <label id = "idEditPorducto"> </label> </h2>
                </button>
                
                <!-- <div class="collapse" id="collapseExample"> -->
                <div class="collapse" id="collapseEditarProducto">
                    
                    <div class="card-body">
                        <form action="/update" method="post" id = "prodFormSearch">
                            <div class="form-group">
                                <input type = "hidden" name = "pro_id" id = "idEditIdProducto1">
                            </div>  
                            <div class="form-group">
                                <input type="text" class = "form-control" name = "pro_nombre" id="idEditNombreProducto">
                            </div>       
                            <div class="form-group ">
                                <input type="text" class = "form-control" name = "pro_presentacion" id="idEditPresentacionProducto">
                            </div> 
                            <div class="form-group">
                                <div class="input-group-prepend">                                        
                                    <label for = "precio_venta" class = "input-group-text">
                                        Precio Venta
                                    </label>
                                    <input type="number" min = "0" max = "100000" class = "form-control" name = "precio_venta" id="idEditPrecioVentaProducto">
                                </div> 
                            </div>          
                            <div class="form-group">
                                <div class="input-group-prepend">                                        
                                    <label for = "precio_compra" class = "input-group-text">
                                        Precio Compra
                                    </label>
                                    <input type="number" min = "0" max = "100000" class = "form-control" name = "precio_compra" id="idEditPrecioCompraProducto">
                                </div> 
                            </div>     
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <label for="pro_categoria" class = "input-group-text">Categoría</label>                         
                                </div>
                                <select name="pro_categoria" class = "custom-select">
                                    <option value="" selected id="idEditCategoriaProducto"></option>
                                    <% for(var j = 0; j < categorias.length; j++){ %>   
                                        <!-- <% if(categorias[j].cat_nombre == catSelect) continue %>                                  -->
                                        <option value="<%= categorias[j].cat_id%>"><%= categorias[j].cat_nombre%></option>
                                    <% } %>
                                    <!-- <option value="Medicamento">Medicamento</option>
                                    <option value="Populares">Populares</option>
                                    <option value="Hospitalarios">Hospitalarios</option>
                                    <option value="Droga blanca">Droga blanca</option>
                                    <option value="Naturista">Naturista</option>
                                    <option value="Antigripales">Antigripales</option> -->
                                </select>   
                            </div>
                                <div class="input-group my-3">  
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type = "checkbox" class = "checkbox input-group-prepend" value = "false" name = "pro_prescripcion" id = "idEditPrescripcionProducto" non-checked>
                                        </div>
                                    </div> 
                                    <div class="form-control">                                            
                                        <label for = "idEditPrescripcionProducto">
                                            Prescripción
                                        </label>
                                    </div>                                  
                                </div> 
                            <!-- </div> -->
                            <button class="btn btn-primary mt-4">Modificar!</button>
                        </form>
                        <form action="/delete" method="post">
                            <input type = "hidden" name = "pro_id" id = "idEditIdProducto2">
                            <button class="btn btn-danger mt-4">Eliminar</button>
                        </form>
                        
                    </div>
                </div>     
            </div> 
            <div class="text-white card bg-info " >
                <button class="btn btn-info" type="button" style = "padding: 1.5em" data-toggle="collapse" data-target="#collapseFormulario" aria-expanded="false" aria-controls="collapseFormulario">
                    <h2>Buscar Producto</h2>
                </button>
                
                <!-- <div class="collapse" id="collapseExample"> -->
                <div class="collapse" id="collapseFormulario">
                    
                    <div class="card-body">
                        <form action="/search" method="post" id = "prodFormSearch">
                            <div class="form-group">
                                <input type="text" class = "form-control" name = "pro_nombre" placeholder="Incluye el nombre">
                            </div>       
                            <div class="form-group">
                                <div class="input-group-prepend">                                        
                                    <label for = "precio_min" class = "input-group-text">
                                        Precio mínimo
                                    </label>
                                    <input type="number" step = "500" value = "0" min = "0" max = "100000" class = "form-control" name = "precio_min">
                                </div> 
                            </div>          
                            <div class="form-group">
                                <div class="input-group-prepend">                                        
                                    <label for = "precio_max" class = "input-group-text">
                                        Precio máximo
                                    </label>
                                    <input type="number" step = "500" value = "100000"  min = "0" max = "100000" class = "form-control" name = "precio_max">
                                </div> 
                            </div>     
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <label for="pro_categoria" class = "input-group-text">Categoría</label>                         
                                </div>
                                <select name="pro_categoria" class = "custom-select">
                                    <option value="null" selected>Cualquiera...</option>
                                    <option value="Medicamento">Medicamento</option>
                                    <option value="Populares">Populares</option>
                                    <option value="Hospitalarios">Hospitalarios</option>
                                    <option value="Droga blanca">Droga blanca</option>
                                    <option value="Naturista">Naturista</option>
                                    <option value="Antigripales">Antigripales</option>
                                </select>   
                                <!-- <input type="text" class = "form-control" name = "pro_categoria" placeholder="Categoria" > -->
                            </div>
                            <!-- <div class="from-group mt-2">
                                <input type="text" class = "form-control" name = "pro_cantidad" placeholder="Cantidad" >
                            </div> -->
                            <!-- <div class="form-group"> -->
                            <div class="input-group my-3">  
                                <div class="input-group-prepend">                                        
                                    <label for = "pro_prescripcion" class = "input-group-text">
                                        ¿con prescripción?
                                    </label>
                                </div> 
                                <select name="pro_prescripcion" class = "custom-select">
                                    <option value="null" selected>No importa...</option>
                                    <option value="0">Sin prescripción</option>
                                    <option value="1">Con prescripción</option>
                                </select>
                            </div> 
                            <!-- </div> -->
                            <button class="btn btn-primary mt-4">Buscar</button>
                        </form>
                        
                    </div>
                </div>     
            </div>
            
            
        </aside>
            <!-- </div> -->
        <!-- </div> -->
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<% include ('partials/_footer') %>