<%- include ('partials/_header') %>

<div class="container-fluid" style = "max-width: 85%;">
    <div class="row">
        <div class="col-10 mx-auto">
            <button class = "btn btn-info my-5" style = "font-size: 1.5em;">Usuarios</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <table class="table table-striped">
                <thead>
                    <th></th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Cargo</th>
                    <th>Salario</th>
                </thead>
                <tbody>
                    
                    <% for(var i = 0; i < users.length; i++){ %>
                        <tr>
                            <% if(users[i].activo) {%>
                                <td>
                                    <form action = "/eliminarUsuario" method = "post">
                                        <input type="hidden" id = "id_eliminar_usu<%= users[i].usu_id%>" name = "usu_id">
                                        <button class = "btn btn-danger">Eliminar</button>
                                    </form>
                                </td>
                                <td><%= users[i].per_nombre%></td>
                                <td><%= users[i].per_apellido%></td>
                                <td><%= users[i].per_telefono%></td>
                                <td><%= users[i].per_direccion%></td>
                                <td><%= users[i].car_nombre%></td>
                                <td id = "salario_user_<%= users[i].usu_id%>"><%= users[i].car_salario%></td>
                                <script>
                                    var x = document.getElementById('salario_user_<%= users[i].usu_id%>');
                                    x.innerHTML = nf.format('<%= users[i].car_salario%>');
                                    document.getElementById('id_eliminar_usu<%= users[i].usu_id%>').value = '<%= users[i].usu_id%>'
                                </script>
                            <% } %>
                        </tr>
                    <% } %>
    
                </tbody>
            </table>
            
    
        </div>
        <div class="col-12 col-md-4 mx-auto">
            <div class="card text-center p-4">
                <div class="header mb-3"><h3>Ingrese el Nuevo usuario</h3> </div>
                <div class="body">                    
                    <form action="addUsuario" method="post">
                        <div class="form-group">
                            <input type="text" name = "usu_nombre"class="form-control" placeholder = "nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" name = "usu_apellido"class="form-control" placeholder = "apellido">
                        </div>
                        <div class="form-group">
                            <input type="text" name = "usu_telefono"class="form-control" placeholder = "telefono">
                        </div>
                        <div class="form-group">
                            <input type="text" name = "usu_direccion"class="form-control" placeholder = "direccion">
                        </div>
                        <!-- <input type="text" class="form-control" placeholder = "nombre"> -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label for="usu_cargo" class = "input-group-text">Cargo</label>                         
                            </div>
                            <select name="usu_cargo" class = "custom-select">
                                <option value="3" selected>Vendedor</option>
                                <option value="2">Administrador</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="password" name = "usu_password" class="form-control" placeholder = "contraseña">
                        </div>
                        <button class = "btn btn-success">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/_footer') %>